<div class="container mt-5">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-3">
      <label for="difficultySelect" class="form-label"
        >Select Difficulty:</label
      >
      <select
        id="difficultySelect"
        class="form-select"
        [(ngModel)]="selectedDifficulty"
      >
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
        <option value="random">Random</option>
      </select>
    </div>
    <div class="col-3 d-flex align-items-end">
      <button
        type="button"
        class="btn btn-primary"
        (click)="generateSudoku(selectedDifficulty)"
      >
        Generate Sudoku
      </button>
    </div>
  </div>

  <!-- Sudoku Board -->
  <div class="row mt-4">
    <div *ngIf="board && board.length !== 0; else loader" class="col">
      <div class="grid-container">
        @for(row of board; track row; let rowIndex = $index){ 

          @for (cell of row; track cell;let cellIndex = $index) {
            
            @if(cell != 0){
            <div class="grid-item">{{ cell }}</div>
            } @else {
              <div>
                <input
                  type="number"
                  min="1"
                  max="9"
                  [value]="''"
                  class="grid-item form-control grid-item__input"
                  appValidSudokuNumber
                />
              </div>
            } 
           } }
      </div>
    </div>
    <!-- Loader -->
    <ng-template #loader>
      <div class="grid-container">
        @for (i of [1,2,3,4,5,6,7,8,9]; track $index) {
        <div class="mt-1">
          <ngx-skeleton-loader
            count="9"
            animation="pulse"
            [theme]="{ 'border-radius': '5px', height: '40px' }"
          />
        </div>
        }
      </div>
    </ng-template>
  </div>

  <!-- Control Buttons -->
  <div class="row mt-4">
    <div class="col text-center">
      <button
        type="button"
        class="btn btn-success me-2"
        (click)="solveSudoku()"
      >
        Solve Sudoku
      </button>
      <button type="button" class="btn btn-info" (click)="validateSudoku()">
        Validate Sudoku
      </button>
    </div>
  </div>
</div>
