<!-- Added Dropdown for Difficulty Selection -->
<div class="container">
  <div class="row mt-2">
    <div class="col-3">
      <label for="difficultySelect" class="form-label"
        >Select Difficulty:</label
      >
      <select
        id="difficultySelect"
        class="form-select" aria-placeholder="Select Difficulty"
        [(ngModel)]="selectedDifficulty"
      >
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
        <option value="random">Random</option>
      </select>
    </div>

    <div class="col-3">
      <br />
      <button
        type="button"
        class="btn btn-primary mt-2"
        aria-controls="collapseExample"
        (click)="generateSudoku(selectedDifficulty)"
      >
        Generate Sudoku
      </button>
    </div>
  </div>

<div class="row mt-2">
  <div *ngIf="board && board.length !== 0;else loader" class="container">
    <div class="row g-0">
      <div *ngFor="let row of board; let i = index" class="col-12">
        <div class="row g-0">
          <div *ngFor="let cell of row; let j = index" class="col-1">
            <input
              type="number"
              [disabled]="cell != 0"
              [value]="cell ? cell : ''"
              class="form-control"
              min="1"
              max="9"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <ng-template #loader>
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </ng-template>
</div>

  <div class="row mt-2">
 
    <div class="col-2 text-center">
      <button
        type="button"
        class="btn btn-success me-2"
        (click)="solveSudoku()"
      >
        Solve Sudoku
      </button>
    </div>
    <div class="col-2 text-center">
      <button type="button" class="btn btn-info" (click)="validateSudoku()">
        Validate Sudoku
      </button>
    </div>
  </div>
</div>
