<div class="container mt-2">
 
  <!-- Board -->
  <div class="row mt-2">
    <div *ngIf="board && board.length !== 0; else loader" class="col">
      <table>
        <ng-container *ngFor="let row of board; index as rowIndex">
          <tr>
            <ng-container *ngFor="let cell of row;index as cellIndex">
              <td>
                <div *ngIf="cell !== 0" class="table-cell"><span style="padding: 10px;">{{ cell }}</span></div>
                <div *ngIf="cell === 0" class="table-cell">
                  <input
                    type="number"
                    min="1"
                    max="9"
                    [value]="''"
                    class="table-input form-control"
                    appValidSudokuNumber
                  />
                </div>
              </td>
              <td *ngIf="(cellIndex + 1) %3 == 0" style="width: 0.3rem;"></td>


            </ng-container>
          </tr>
          <tr *ngIf="(rowIndex + 1) %3 == 0" style="height: 0.3rem;">
          </tr>
        </ng-container>
      </table>
    </div>

    <!-- Loader -->
    <ng-template #loader>
      <div class="grid-container">
        @for (i of [1,2,3,4,5,6,7,8,9]; track $index) {
        <div class="mt-1">
          <ngx-skeleton-loader
            count="9"
            animation="pulse"
            [theme]="{ 'border-radius': '5px', height: '40px' }"
          /> 
        </div>
        }
      </div>
    </ng-template>
  </div>

  
  <!-- Control Panel -->
  <div class="row">
    <div class="col text-center d-flex justify-content-center">
      <div class="form-floating w-25">
        <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
        [(ngModel)]="selectedDifficulty">
          <option value="easy">Easy</option>
          <option value="medium">Medium</option>
          <option value="hard">Hard</option>
          <option value="random">Random</option>
        </select>
        <label for="floatingSelect">Select Difficulty</label>
      </div>
  
      <button
        type="button"
        class="btn btn-primary"
        (click)="generateSudoku(selectedDifficulty)"
      >
        Generate Sudoku
      </button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col text-center">
      <button
        type="button"
        class="btn btn-success me-2"
        (click)="solveSudoku()"
      >
        Solve Sudoku
      </button>
      <button type="button" class="btn btn-info" (click)="validateSudoku()">
        Validate Sudoku
      </button>
    </div>
  </div>
</div>
